! $Id: ~/.Xresources wandsas 2018/07/10

!-*-{ Global font
*font:                -*-terminus-*-*-*-*-14-*-*-*-*-*-*-*
!-*- Global Fore/background color -*-!
!*background:          #101010
!-*-}

!-*-{ URxvt
!-*- General settings -*-
URxvt*termName:       rxvt-unicode-256color
!URxvt*allow_bold:     False
!-*- URxvt fonts -*-
!URxvt.font:                 xft:Terminess Powerline:size=9,\
!                            xft:FontAwesome:size=
!URxvt.letterSpace: 1
!URxvt.font:                 xft:Terminess Nerd Font:size=9,\
!                            xft:FontAwesome:size=9

!-*- Perl extensions -*-
URxvt.perl-ext-common:default,clipboard,matcher,keyboard-select
URxvt.keysym.M-u:     perl:url-select:select_next
URxvt.url-launcher:    /usr/bin/firefox
URxvt.underlineURLs:  True
URxvt.matcher.button: 1
URxvt.keysym.M-Escape:perl:keyboard-select:activate
URxvt.keysym.M-c:     perl:clipboard:copy
URxvt.keysym.M-v:     perl:clipboard:paste
URxvt.keysym.M-C-v:   perl:clipboard:paste_escaped
!URxvt.copyCommand:   xsel -ib
!URxvt.pasteCommand:  xsel -ob
!-*- Scrollbar style - rxvt::plain:next:xterm -*-
URxvt*scrollstyle:    urxvt
URxvt*scrollBar:      False
URxvt*matcher.button: 1
URxvt*geometry:       128x36
URxvt.saveLines:      1000
!-*- Trasperancy -*-
URxvt*transparent:    False
URxvt*inheritPixmap:  False
URxvt*shading:        30
URxvt*tintColor:      #404040
URxvt*depth:          32
!-*- Fading -*-
URxvt*fading:         30
URxvt*fadeColor:      #202020
!-*- Fore/background -*-
URxvt.background:     rgba:0000/0000/0000/cddd
!URxvt*background:     #151515
!URxvt*foreground:     #999
!-*- Manpage -*-
URxvt.colorIT:        magenta
URxvt.colorBD:        yellow
URxvt.colorUL:        cyan
!-*-}

!-*-{ XTerm
XTerm*faceName:     Terminus
XTerm*faceSize:     11
!XTerm*font:         -*-terminus-*-*-*-*-14-*-*-*-*-*-*-*

XTerm*cursorColor:      orange
XTerm*borderColor:      white
XTerm*scrollColor:      black
XTerm*loginShell:       true
XTerm*visualBell:       true
XTerm*saveLines:        8192
XTerm*shading:          80

XTerm*allowFontOps:    true
XTerm*allowSendEvents: true
XTerm*internalBorder:  0
XTerm*borderWidth:     0
XTerm*multiScroll:     true
XTerm*utmpInhibit:     false
XTerm*jumpScroll:      true
XTerm*waitForMap:      true
XTerm*scrollBar:       false
!XTerm*title:           h

!-*- Fix the Alt-p is wacko char problem -*-
XTerm*eightBitInput:  false
XTerm*metaSendsEscape: true

!-*- The following two sections take advantage of new features in Athena widget library 7 -*-
!-*- Comment them out if you have a shallow color depth -*-
XTerm*mainMenu*backgroundPixmap:     gradient:vertical?dimension=400&start=gray10&end=gray40
XTerm*mainMenu*foreground:           white
XTerm*vtMenu*backgroundPixmap:       gradient:vertical?dimension=550&start=gray10&end=gray40
XTerm*vtMenu*foreground:             white
XTerm*fontMenu*backgroundPixmap:     gradient:vertical?dimension=300&start=gray10&end=gray40
XTerm*fontMenu*foreground:           white
XTerm*tekMenu*backgroundPixmap:      gradient:vertical?dimension=300&start=gray10&end=gray40
XTerm*tekMenu*foreground:            white

!-*- Fixing the Backspace key in Xterm -*-
! http://www.hypexr.org/linux_ruboff.php#bsolution
XTerm*ttyModes:         erase ^?
XTerm*VT100.Translations: \
    #override <Key>BackSpace: string(0x7f) \n\
		      <Key>Delete:    string(0x1b) string("[3~")

!-*- Manpages -*-
*VT100.colorBDMode: true
*VT100.colorBD:     yellow
*VT100.colorULMode: true
*VT100.colorUL:     cyan
!-*-}

!-*-{ Xcolors
!-*- Based on Tomorrow Theme -*-
!-*- grey -*-
*.foreground:       #c5c8c6
!-*- darkblack -*-
*.background:       #1d1f21
*.cursorColor:      orange
!-*- black -*-
*.color0:           #000000
!-*- dark-red -*-
*.color1:           #912226
!-*- dark-green -*-
*.color2:           #778900
!-*- dark-yellow -*-:n
*.color3:           #ae7b00
!-*- dark-blue -*-
*.color4:           #1d2594
!-*- dark-magenta -*-
*.color5:           #682a9b
!-*- dark-cyan -*-
*.color6:           #2b6651
!-*- grey -*-
*.color7:           #929593
!-*- dark-grey
*.color8:           #666666
!-*- rosa -*-
*.color9:           #cc6666
!-*- light-green -*-
*.color10:          #b5bd68
!-*- yellow
*.color11:          #f0c674
!-*- light-blue -*-
*.color12:          #81a2be
!-*- magenta -*-
*.color13:          #b294bb
!-*- cyan -*-
*.color14:          #8abeb7
!-*- light-grey
*.color15:          #ecebec
!-*-}

!-*-{ Xft
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   false
Xft.lcdfilter:  lcddefault
!-*-}

!-*-{ Xcursor
Xcursor.theme:          Vanilla-DMZ-AA
Xcursor.size:           36
!-*-}

!-*-{ Xclock
Xclock*faceName:          Terminus:pixelsize=8
Xclock*update:            1
Xclock*analog:            false
Xclock*Foreground:        #245f99
Xclock*background:        #101010
!-*-}

!-*-{ Xcalc
xcalc*faceName:                        Terminus:pixelsize=8
xcalc*geometry:                        200x275
xcalc.ti.bevel.background:             #151515
xcalc.ti.bevel.screen.background:      #101010
xcalc.ti.bevel.screen.DEG.background:  #000000
xcalc.ti.bevel.screen.DEG.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background: #000000
xcalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.RAD.background:  #000000
xcalc.ti.bevel.screen.RAD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.INV.background:  #000000
xcalc.ti.bevel.screen.INV.foreground:  Red
xcalc.ti.bevel.screen.LCD.background:  #000000
xcalc.ti.bevel.screen.LCD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.background:    #000000
xcalc.ti.bevel.screen.M.foreground:    LightSeaGreen
xcalc.ti.bevel.screen.P.background:    #000000
xcalc.ti.bevel.screen.P.foreground:    Yellow
xcalc.ti.Command.foreground:  #e0e0e0
xcalc.ti.Command.background:  #746d76
xcalc.ti.button5.background:  #3ca034
xcalc.ti.button19.background: #b287ba
xcalc.ti.button18.background: #b287ba
xcalc.ti.button20.background: #b287ba
!uncomment to change label on division button
!xcalc.ti.button20.label:      /
xcalc.ti.button25.background: #b287ba
xcalc.ti.button30.background: #b287ba
xcalc.ti.button35.background: #b287ba
xcalc.ti.button40.background: #b287ba
xcalc.ti.button22.background: #286f8a
xcalc.ti.button23.background: #286f8a
xcalc.ti.button24.background: #286f8a
xcalc.ti.button27.background: #286f8a
xcalc.ti.button28.background: #286f8a
xcalc.ti.button29.background: #286f8a
xcalc.ti.button32.background: #286f8a
xcalc.ti.button33.background: #286f8a
xcalc.ti.button34.background: #286f8a
xcalc.ti.button37.background: #286f8a
xcalc.ti.button38.background: #286f8a
xcalc.ti.button39.background: #286f8a
xcalc*Cursor:                 hand2
xcalc*ShapeStyle:             rectangle
!-*-}

! vim:fenc=utf-8:ci:pi:sts=0:sw=4:ts=4:
